n8nfile.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -3120,
        448
      ],
      "id": "527fca47-d07b-4434-ab43-5d142933ed67",
      "name": "Microsoft Outlook Trigger",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "7W5TDaXGauh2OBzL",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8436440465",
        "text": "=**Um email acaba de chegar. Ele foi considerado não relevante e foi ignorado.**\n\nAssunto: {{ $('Microsoft Outlook Trigger').item.json.subject }}\nDe: {{ $('Microsoft Outlook Trigger').item.json.from }}\nPreview: {{ $('Microsoft Outlook Trigger').item.json.bodyPreview.replace(/(\\r\\n|\\n|\\r)/gm, ' ').replace(\"Visualizar este e-mail como página web\", \"\").replace(\"       \", \" \") }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2352,
        512
      ],
      "id": "b02df67c-c56d-40f2-b6d6-4434c85e1242",
      "name": "Apenas avisa que algo chegou mas foi ignorado",
      "webhookId": "16c0a8a4-fbfb-492c-9d79-fdd16ce23179",
      "credentials": {
        "telegramApi": {
          "id": "0UCasPM0OYtZP1Gu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "getAll",
        "messageId": {
          "__rl": true,
          "value": "={{ $('Microsoft Outlook Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -1808,
        320
      ],
      "id": "25548ce6-3de9-4ffa-a534-0d8f145a89be",
      "name": "Get many attachments",
      "webhookId": "14d226b1-3859-4b51-bbf4-d4730cc55955",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "7W5TDaXGauh2OBzL",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const filename = ($json.name || \"\").toLowerCase();\nconst isNota = filename.includes(\"nota\")\n  || filename.includes(\"nf\")\n  || filename.includes(\"nfe\")\n  || filename.includes(\"nf-e\")\n  || filename.includes(\"fatura\")\n  || filename.includes(\"nfce\")\n  || filename.includes(\"nfc-e\")\n\nconst isBoleto = filename.includes(\"boleto\")\n\nlet tipo = \"outro\"\nif (isNota) {\n  tipo = \"nota\"\n} else if (isBoleto) {\n  tipo = \"boleto\"\n}\n\n$json.tipo = tipo\n\nreturn $json;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1616,
        320
      ],
      "id": "78c4c6ae-cefa-4c16-9124-7fa9e031d865",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "boleto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "761de7e6-8ab7-4a16-bf3a-7f983ce16db0"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9da36bd2-1744-4811-ae2c-f9021a07202c",
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "nota",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bb0f4151-30a5-4caf-ad67-8f8ee70303f9",
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "outro",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1440,
        304
      ],
      "id": "1a8946a0-27d4-489c-827e-29c475f17f84",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "8436440465",
        "text": "=**Um email acaba de chegar. Ele contém um boleto, e já foi enviado ao ClickSign. Verifique caso se trate de um erro.**  \n\nArquivos:{{ $json.input.map(item => \" \" + item.json.name) }}\n\nAssunto: {{ $('Microsoft Outlook Trigger').first().json.subject }}\nDe: {{ $('Microsoft Outlook Trigger').first().json.from }}\nPreview: {{ $('Microsoft Outlook Trigger').first().json.bodyPreview.replace(/(\\r\\n|\\n|\\r)/gm, ' ').replace(\"Visualizar este e-mail como página web\", \"\").replace(\"       \", \" \") }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        96,
        128
      ],
      "id": "4618e8fe-da8f-4416-abda-3c93cc5a3535",
      "name": "Mensagem avisando sobre boleto",
      "webhookId": "53ce3aa8-3868-42b4-b39f-8dcad5e59f88",
      "credentials": {
        "telegramApi": {
          "id": "0UCasPM0OYtZP1Gu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8436440465",
        "text": "=**Um email acaba de chegar. Ele contém uma nota fiscal que já foi enviada ao ClickSign. Verifique caso se trate de um erro.**  \n\nArquivos:{{ $json.input.map(item => \" \" + item.json.name) }}\n\n\nAssunto: {{ $('Microsoft Outlook Trigger').first().json.subject }}\nDe: {{ $('Microsoft Outlook Trigger').first().json.from }}\nPreview: {{ $('Microsoft Outlook Trigger').first().json.bodyPreview.replace(/(\\r\\n|\\n|\\r)/gm, ' ').replace(\"Visualizar este e-mail como página web\", \"\").replace(\"       \", \" \") }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        208
      ],
      "id": "fccf0c75-e762-4157-946f-e4781aebc016",
      "name": "Mensagem sobre nota fiscal",
      "webhookId": "73295dd7-3e5f-4dec-a073-9e428c87a3df",
      "credentials": {
        "telegramApi": {
          "id": "0UCasPM0OYtZP1Gu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8436440465",
        "text": "=**Um email acaba de chegar. Ele possívelmente contém uma nota ou boleto, mas não conseguimos indentificar qual arquivo enviar ao ClickSign.\n\nAssunto: {{ $('Microsoft Outlook Trigger').first().json.subject }}\nDe: {{ $('Microsoft Outlook Trigger').first().json.from }}\n\nAnexo: {{ $json.input.map(item => \" \" + item.json.name) }}\n\nPreview: {{ $('Microsoft Outlook Trigger').first().json.bodyPreview.replace(/(\\r\\n|\\n|\\r)/gm, ' ').replace(\"Visualizar este e-mail como página web\", \"\").replace(\"       \", \" \") }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -224,
        416
      ],
      "id": "f8b8c756-a720-4743-ba7a-a90f296d7f74",
      "name": "Mensagem sobre não saber o tipo de arquivo",
      "webhookId": "73295dd7-3e5f-4dec-a073-9e428c87a3df",
      "credentials": {
        "telegramApi": {
          "id": "0UCasPM0OYtZP1Gu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4346f55c-e008-4847-83c6-fa37a6109c30",
              "leftValue": "={{ $json.to[0] }}{{ $json.bodyPreview.toLowerCase() }}",
              "rightValue": "nota",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "abd24cc6-1095-41fc-b10a-a5cbca115373",
              "leftValue": "={{ $json.to[0] }}{{ $json.bodyPreview.toLowerCase() }}",
              "rightValue": "boleto",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b87a99cf-a522-4f48-88e9-93a9219dc355",
              "leftValue": "={{ $json.subject.toLowerCase() }}",
              "rightValue": "nota",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "d4767fa2-c654-4d3c-92a0-1f4c472faa6a",
              "leftValue": "={{ $json.subject.toLowerCase() }}",
              "rightValue": "boleto",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "997cdf65-d9d0-44a7-bce9-fbb1022e4551",
              "leftValue": "={{ $json.subject.toLowerCase() }}",
              "rightValue": "=nf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "db643ca8-e984-47b5-a108-d24b79b30fca",
              "leftValue": "={{ $json.subject.toLowerCase() }}",
              "rightValue": "nfe",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "3b34b812-8fa0-46ab-b9d8-462d6984651b",
              "leftValue": "={{ $json.to[0] }}{{ $json.bodyPreview.toLowerCase() }}",
              "rightValue": "nf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "98a671d2-df73-44d6-92ed-dee65b05ca95",
              "leftValue": "={{ $json.to[0] }}{{ $json.bodyPreview.toLowerCase() }}",
              "rightValue": "nfe",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "90a2756f-37c4-42fe-aab8-5f89bb612193",
              "leftValue": "={{ $json.subject.toLowerCase() }}",
              "rightValue": "fiscal",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "10c0bcb5-225e-4431-92dc-4e4ad10a4004",
              "leftValue": "={{ $json.to[0] }}{{ $json.bodyPreview.toLowerCase() }}",
              "rightValue": "fiscal",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2704,
        432
      ],
      "id": "aaa571ec-2b1e-4bc8-bb7d-f6ce8011eaaa",
      "name": "Checa se é uma nota ou boleto"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -944,
        304
      ],
      "id": "24d0af15-d6f3-4b3a-ac32-822e7887fe32",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "let quantNotas = 0;\nlet quantBoletos = 0;\nlet quantOutros = 0;\nlet boletos = []\nlet notas = []\nlet outros = []\n\nfor (const item of $input.all()) {\n  if (item.json.tipo === \"nota\") {\n    quantNotas += 1;\n    notas.push(item.json.name);\n  }\n  else if (item.json.tipo === \"boleto\") {\n    quantBoletos += 1;\n    boletos.push(item.json.name);\n  }\n  else if (item.json.tipo === \"outro\") {\n    quantOutros += 1;\n    outros.push(item.json.name)\n  }\n}\n\nreturn {\n  input: $input.all(),\n  quantNotas,\n  quantBoletos,\n  quantOutros,\n  outros,\n  boletos,\n  notas\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        320
      ],
      "id": "752bc75e-683e-4733-b60b-e0ae08288c5a",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "chatId": "8436440465",
        "text": "=**Um email acaba de chegar. Ele provavelmente contém informações sobre uma nota, mas não contém anexos. Verifique se ele possui algum link relevante ou acesso a um portal.**\n\nAssunto: {{ $('Microsoft Outlook Trigger').item.json.subject }}\nDe: {{ $('Microsoft Outlook Trigger').item.json.from }}\nPreview: {{ $('Microsoft Outlook Trigger').item.json.bodyPreview.replace(/(\\r\\n|\\n|\\r)/gm, ' ').replace(\"Visualizar este e-mail como página web\", \"\").replace(\"       \", \" \") }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1808,
        528
      ],
      "id": "7ce95ca1-afbd-4fe7-9daa-cc00432cacfa",
      "name": "Avisa que email sem anexo chegou",
      "webhookId": "8a4fc069-9b57-46a2-ba8c-9c16e4e61567",
      "credentials": {
        "telegramApi": {
          "id": "0UCasPM0OYtZP1Gu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8436440465",
        "text": "=**Um email acaba de chegar. Ele contém um conjunto de nota fiscal e boleto. Eles já foram enviados ao ClickSign. Verifique caso se trate de um erro.**  \n\nArquivos:{{ $json.input.map(item => \" \" + item.json.name) }}\n\nAssunto: {{ $('Microsoft Outlook Trigger').first().json.subject }}\nDe: {{ $('Microsoft Outlook Trigger').first().json.from }}\nPreview: {{ $('Microsoft Outlook Trigger').first().json.bodyPreview.replace(/(\\r\\n|\\n|\\r)/gm, ' ').replace(\"Visualizar este e-mail como página web\", \"\").replace(\"       \", \" \") }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        432
      ],
      "id": "a4f4ae70-fac0-42ce-8f76-ca6f0b93e099",
      "name": "Mensagem avisando que chegaram notas e boletos",
      "webhookId": "73295dd7-3e5f-4dec-a073-9e428c87a3df",
      "credentials": {
        "telegramApi": {
          "id": "0UCasPM0OYtZP1Gu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "={{ $json.from }}",
        "subject": "Resposta sobre pagamento",
        "bodyContent": "Confirmo o recebimento do documento. Estou encaminhando para o financeiro.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -2352,
        336
      ],
      "id": "ecd8584a-ed4e-4f3b-8ade-9635aa054d29",
      "name": "Send a message",
      "webhookId": "77633e10-4789-42f4-afd2-1a18b097d9eb",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "7W5TDaXGauh2OBzL",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e747ad55-ad74-4571-9ef9-35fd778b39c6",
              "leftValue": "={{ $('Microsoft Outlook Trigger').item.json.hasAttachments }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2128,
        336
      ],
      "id": "52053ea5-5ba4-4c04-9227-831b3fb08b1f",
      "name": "hasAttachments"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "684a1ed2-487c-41a9-b084-54616b156d69",
              "leftValue": "={{ $json.from }}",
              "rightValue": "guilherme.freitas@interne.com.br",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2912,
        448
      ],
      "id": "5a53b6c0-fd37-4e1e-8f6a-81dbdcd4a3d4",
      "name": "Has Same email as user"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "323304b6-ae90-459b-8812-87c3ac44b8ae",
              "leftValue": "={{ $json.quantNotas }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "d9d9e63a-b9a9-416a-82e6-394fb41154d1",
              "leftValue": "={{ $json.quantBoletos }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -496,
        320
      ],
      "id": "6d8c2186-c704-4338-b62b-6d15d7695212",
      "name": "há nota ou boleto?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d5508e70-0da7-44e0-8c72-663851c29d95",
              "leftValue": "={{ $json.quantNotas }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "2383428e-8909-41f1-879d-794b73074bb4",
              "leftValue": "={{ $json.quantBoletos }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        208
      ],
      "id": "1bd39f1b-11e9-40f2-b371-01c67c3eb732",
      "name": "Se houver boleto mas não nota"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d5838835-89da-4d7b-8ca3-2862e071abff",
              "leftValue": "={{ $json.quantNotas }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "255919a2-514b-4f8f-8206-9f730f7d3bb4",
              "leftValue": "={{ $json.quantBoletos }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        336
      ],
      "id": "1f8c691d-f990-43ea-9143-d63bdd8a1b43",
      "name": "se houver nota mas não boleto"
    }
  ],
  "connections": {
    "Microsoft Outlook Trigger": {
      "main": [
        [
          {
            "node": "Has Same email as user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many attachments": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Checa se é uma nota ou boleto": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apenas avisa que algo chegou mas foi ignorado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "há nota ou boleto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "hasAttachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hasAttachments": {
      "main": [
        [
          {
            "node": "Get many attachments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Avisa que email sem anexo chegou",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Same email as user": {
      "main": [
        [
          {
            "node": "Checa se é uma nota ou boleto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "há nota ou boleto?": {
      "main": [
        [
          {
            "node": "Se houver boleto mas não nota",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem sobre não saber o tipo de arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se houver boleto mas não nota": {
      "main": [
        [
          {
            "node": "Mensagem avisando sobre boleto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "se houver nota mas não boleto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "se houver nota mas não boleto": {
      "main": [
        [
          {
            "node": "Mensagem sobre nota fiscal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem avisando que chegaram notas e boletos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "909023f97f59c39e7274696c75691f5239c576c7d7e0c1ae64d95f070486c7d1"
  }
}